*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 1;
    padding: 15px 0;
    
    
    
    

}
nav ul{
   width: 100%;
   height: 100%;
  
   margin-right: 200px;
   background-color: blue;
   padding-right: 15%;
    
   
}
nav ul li{
    
    list-style: none;
    margin-left:20px ;
    float: right;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    /* background-color: red; */
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    z-index: 2;
    
}
nav ul li a:hover{
    background-color: #fff;
    color: gray;
    transition:all 0.5s;
}
h1{
    text-align: center;
    margin-top: 100px;
    /* font-weight: 900; */
    font-size: 50px;
    opacity: 70%;
}
main h1{
    margin-bottom: 100px;
}
h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 200px;
}
.col{
    display: flex;
   
    /* background-color: red; */
    justify-content: center;
}
.card{
    border: 1px solid transparent;
    width: 400px;
    /* box-shadow: 0px 0px 2px 1px rgba(0  , 0, 0,.3); */
}
.card img{
    border-radius: 30px;
    /* scale: 50%; */
    transition: all 2s ;
    
    
}
.card img:hover{
    scale: 105%;

    transform: rotatey(180deg);
    
}
.card p,h5{
    opacity: 80%;
    font-size: larger;
    /* background-color: red; */
    color: black;
}
.card p a{
    /* display: block; */
    margin-top: 10px;
    text-decoration: none;
    color: gray;
    border-radius: 5px;
    padding: 3px;
}
.card p a:hover{
    color: #fff;
    background-color: gray;
    transition: all 0.5s;
}
.card p a::after{
    content: "➔";
}
footer{
    background-color: #276677;
    /* overflow: hidden; */
    padding-bottom: 100px;
   
   
   
}
footer h1,p{
    color: #fff;
    opacity: 60%;
}
footer p{
    /* float: left; */
    font-size: 30px;
    display: inline-block;
    margin-left: 30px;
    line-height: 2;
    /* margin-top: 200px; */
    /* background-color: #bfa; */
    
    
}
footer img{
    display:inline-block ;
    border-radius: 30px;
    margin-left: 30px;
    background-color: #bfa;
    
}
.copyright{
    margin-top: 100px;
    /* line-height: 1; */
    /* background-color: red; */
    font-size: 20px;
    color: #fff;
    opacity: 60%;
    margin-bottom: -70px;
    text-align: center;
}

