body {
  margin: 0;
  padding: 0;
}

div {
  background-color: bisque;
  display: flex;
  font-size: 50px;
  line-height: 100px;
  justify-content: space-evenly;
}
div * {
  margin: 0 30px;
}
div .box1 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  transform: translate(0px, 50px);
}
div .box2 {
  width: 100px;
  height: 100px;
  background-color: pink;
  transform: rotate(45deg);
}
div .box3 {
  width: 100px;
  height: 100px;
  background-color: rgb(116, 170, 217);
  transform: scale(1.3);
}
div .box4 {
  width: 100px;
  height: 100px;
  background-color: rgb(247, 232, 149);
  transform: skew(20deg);
}